<!-- received="Wed Sep 30 04:21:16 1998 PDT" -->
<!-- sent="Wed, 30 Sep 1998 14:30:43 +0300" -->
<!-- name="teras" -->
<!-- email="teras@writeme.com" -->
<!-- subject="Supprt for Mustec ScanExpress 6000 P" -->
<!-- id="" -->
<!-- inreplyto="" -->
<title>sane-devel: Supprt for Mustec ScanExpress 6000 P</title>
<h1>Supprt for Mustec ScanExpress 6000 P</h1>
<b>teras</b> (<a href="mailto:teras@writeme.com"><i>teras@writeme.com</i></a>)<br>
<i>Wed, 30 Sep 1998 14:30:43 +0300</i>
<p>
<ul>
<li> <b>Messages sorted by:</b> <a href="date.html#188">[ date ]</a><a href="index.html#188">[ thread ]</a><a href="subject.html#188">[ subject ]</a><a href="author.html#188">[ author ]</a>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0189.html">A. R. M.: "UMAX found but xscanimage not working right."</a>
<li> <b>Previous message:</b> <a href="0187.html">Thomas Heidel: "Re: Mustek 4830 S ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
<!-- body="start" -->
Hi!<br>
<p>
Is there any possible support for the above scanner?<br>
<pre>
-- 
<p>
+===============================+
H B E W A R E  /\       /\      H
H             //\\ === /  \     H
H            |||  =   -    |    H
H          {{{   ^     ^   \    H
H    O F    {{{ [o]   [o]  /    H
H            |||   |I|    |     H
H            |||  _____   |     H
H             \\\ \/-\/  /      H
H   T H E      \\\      /       H
H               ||L==--J        H
H                               H
H TTTTT EEEEE RRRR    A    SSS  H
H   T   E     R   R  A A  S     H
H   T   EEE   RRRR   AAA   SSS  H
H   T   E     R  R  A   A     S H
H   T   EEEEE R   R A   A SSSS  H
H                               H
H   teras  (a) writeme ' com    H
+===============================+
<p>
<pre>
--
Source code, list archive, and docs: <a href="http://www.mostang.com/sane/">http://www.mostang.com/sane/</a>
To unsubscribe: echo unsubscribe sane-devel | mail <a href="mailto:majordomo@mostang.com">majordomo@mostang.com</a>
</pre>
<!-- body="end" -->
<p>
<ul>
<!-- next="start" -->
<li> <b>Next message:</b> <a href="0189.html">A. R. M.: "UMAX found but xscanimage not working right."</a>
<li> <b>Previous message:</b> <a href="0187.html">Thomas Heidel: "Re: Mustek 4830 S ?"</a>
<!-- nextthread="start" -->
<!-- reply="end" -->
</ul>
